<!--footer-->
               <footer id="footer-option">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 margin-btm-20">
                        <div class="footer-col">
                            <div class="footer-col margin-btm-20">
                                <h3>Getting Started</h3>
                                <a href="https://github.com/USDRCG/usdrcg.github.io/wiki/SSH-Log-In" class="tweet-ac hover-color">Logging In</a>
                                <div class="tweet-desc">
                                <p>This page describes the steps for logging into the HPC.</p>
                                </div>
                                <a href="https://github.com/USDRCG/usdrcg.github.io/wiki/Home-Directory-and-Intro-to-the-Command-Line" class="tweet-ac hover-color">Navigating</a>
                                <div class="tweet-desc">
                                <p>Getting lost in your directories? Check this page out.</p>
                                </div>
                            </div>
                        </div>
                    </div><!--footer col end-->

                    <div class="col-lg-3 margin-btm-20">
                        <div class="footer-col margin-btm-20">
                            <h3>Welcome Wagon</h3>
                            <a href="#" class="tweet-ac hover-color">Workshops</a>
                            <div class="tweet-desc">
                                <p>We offer several hands-on training sessions per year.</p>
                            </div>
                            <a href="https://github.com/USDRCG/usdrcg.github.io/wiki/Welcome-to-the-USD-HPC-wiki!" class="tweet-ac hover-color">Training Documents</a>
                            <div class="tweet-desc">
                                <p>This is where you can find helpful how-to instructions.</p>
                            </div>
                        </div>
                    </div><!--footer col end-->

                    <div class="col-lg-3 margin-btm-20">
                        <div class="footer-col margin-btm-20">
                            <h3>External Training</h3>
                            <a href="http://software-carpentry.org/" class="tweet-ac hover-color">Software Carpentry</a>
                            <div class="tweet-desc">
                                <p>This site has tutorials for beginners, from shell commands to visualization.</p>
                            </div>
                            <a href="http://explainshell.com/" class="tweet-ac hover-color">Explain Shell</a>
                            <div class="tweet-desc">
                                <p>Here, you can type (or paste) shell commands to get an explanation.</p>
                            </div>
                        </div> 
                    </div><!--footer col end-->

                    <div class="col-lg-3 margin-btm-20">
                        <div class="footer-col">
                            <h3>Contact Info</h3>
                            <p><i class="ion-home"></i> University of South Dakota</p>
                            <p><i class="ion-iphone"></i>  1+ (877) 225 0027</p>
                            <p><i class="ion-email"></i>  helpdesk@usd.edu</p>
                        </div>
                    </div><!--footer col end-->

                </div>
            </div>
            
            <div class="footer-copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2 footer-logo">
                            <a href="index.html">
                                <img src="assets/img/logo-white.png" alt="">
                            </a>
                        </div>
                        <div class="col-md-5">
                            <p>&copy; Copyright 2017.all right reserved</p>
                        </div>
                        <div class="col-md-5 ">
                            <ul class="list-inline footer-nav">
                                <li class="list-inline-item"><a href="index.html">Home</a></li>
                                <li class="list-inline-item"><a href="faqs.html">Faqs</a></li>
                                <li class="list-inline-item"><a href="blog-full.html">News</a></li>
                                <li class="list-inline-item"><a href="pricing.html">Pricing</a></li>
                                <li class="list-inline-item"><a href="contact.html">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer><!--#footer option end-->