<div id="preloader">
            <div id="preloader-inner"></div>
        </div><!--/preloader-->
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 hidden-md-down">
                        <ul class="info list-inline pull-left hidden-sm-down">
                            <li class="list-inline-item">Need Help? Contact the USD HelpDesk </li>
                            
                        </ul> 
                    </div>
                    <div class="col-lg-8">
                        <div class="text-right">
                            <ul class="info list-inline">
                                <li class="list-inline-item"><i class="ion-android-mail"></i> helpdesk@usd.edu</li>
                                <li class="list-inline-item"><i class="ion-android-call"></i> 1+ (605) 658 6000</li>
                                <li class="list-inline-item"><i class="ion-android-call"></i> 1+ (877) 225 0027</li>
                            
                            </ul>
                        </div>
                    </div>
                </div>


            </div><!--container end-->
        </div>
        
        <nav class="navbar navbar-toggleable-sm navbar-light bg-faded search-header">
      <!--  <nav class="navbar navbar-toggleable-sm navbar-light bg-faded yamm"> -->
           
            <div class="container">
                     <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="index.html"><img src="assets/img/logo_home.png" class="img-fluid" alt=""></a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto smooth-scroll">
                        <li class="nav-item"><a class="nav-link" href="#home"><i class="ion-home"></i> Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#about"><i class="ion-university"></i> Workshops</a></li>
                        <li class="nav-item"><a class="nav-link" href="#services"><i class="ion-android-checkbox"></i> Services</a></li>
                        <li class="nav-item"><a class="nav-link" href="#contact"><i class="ion-android-list"></i> Resources</a></li>
                        <li class="nav-item"><a class="nav-link" href="faqs.html"><i class="ion-help-circled"></i> FAQs</a></li>
                    </ul>
                </div>

            </div>

        </nav><!--nav end-->